.productListContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  padding-inline: 1rem;
  padding-block: 1rem;
}

.productCard {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: '2%';
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.product-card-cta {
  width: 10rem;
  height: 2.5rem;
}

.product-card-icon-cta {
  width: 2.5rem;
  height: 2.5rem;
}